include partials/header

block append 
    script(src='../public/javascript/common.js')
    script(src='../public/javascript/add-expense.js')

block content
    include partials/add-expense-block
include partials/footer
