include partials/header

block append scripts
    script(src='../public/javascript/common.js')
    script(src='../public/javascript/add-purchase.js')

block content
    div(class='btn-group')
        button(id="addPurchaseBtn", class='btn btn-primary') Add new purchase
            i(class='fas fa-cart-plus')

    include partials/add-purchase-block

    div.text-center
        table(id="purchasesTable", data-id-field="id", data-toggle="table", data-pagination="true", data-sort-name="createdAt", data-sort-order="desc", data-query-params="queryParams", data-url="../api/purchases")

include partials/footer
