include partials/header

block content
    div(class='btn-group')
        a(href='./add-purchase', class='btn btn-primary') Add new purchase
            i(class='fas fa-cart-plus')
    div.text-center
        table(class='table table-striped')
            thead
                tr
                    th Name
                    th Type
                    th Mandatory
                    th Single-time
            tbody
                each purchase in purchases
                    tr
                        td !{purchase.name}
                        td !{purchase.type}
                        td !{purchase.is_mandatory}
                        td !{purchase.is_single_time}
                        td
                            div(class='btn-group')
                                a(href='./', class='btn btn-primary') To expenses
                                    i(class='fas fa-cart-arrow-down')
                        td
                            div(class='btn-group')
                                a(href='./', class='btn btn-primary') Delete
                                    i(class='fas fa-shopping-cart')

include partials/footer
