html(lang='en')
	head
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='../public/stylesheets/style.css')
		link(rel="stylesheet", href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
		block scripts
			script(src='https://code.jquery.com/jquery-3.4.1.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
			script(src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js")
			script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

	body
		if messages
			if messages.warning
				if messages.warning.length
					div.alert.alert-warning.alert-dismissable
						a(data-dismiss="alert", aria-label="close").close &times;
						strong #{messages.warning}
			if messages.danger
				if messages.danger.length
					div.alert.alert-danger.alert-dismissable
						a(data-dismiss="alert", aria-label="close").close &times;
						strong #{messages.danger}
			if messages.success
				if messages.success.length
					div.alert.alert-success.alert-dismissable
						a(data-dismiss="alert", aria-label="close").close &times;
						strong #{messages.success}
				

			block header
				nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
					div(class="navbar-brand") ExpMan 0.1.0
					button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
						span(class="navbar-toggler-icon")
					div(class="collapse navbar-collapse", id="navbarSupportedContent")
						ul(class="navbar-nav mr-auto")
							if (userData)
								li(class="nav-item")
									a(class="nav-link", href='./expenses') Expenses
								li(class="nav-item")
									a(class="nav-link", href='./purchases') Purchases
								li(class="nav-item")
									a(class="nav-link", href='./sign-out') Log out
							else
								li(class="nav-item")
									a(class="nav-link", href='./sign-in') Sign in
			block content
